In [127]:
#importing libraries
from selenium import webdriver
import os
import pandas as pd
import time
from tqdm.notebook import tqdm
import re
from selenium.webdriver.common.keys import Keys

## Program 1

In [7]:
# loading driver
driver = webdriver.Chrome('chromedriver.exe')

# loading webpage onto driver
my_page=driver.get('https://www.naukri.com')

# searching for data analysts in Bangalore
searchbar=driver.find_element_by_id("qsb-keyword-sugg")
searchbar.send_keys("Data Analyst")
locationbar=driver.find_element_by_id("qsb-location-sugg")
locationbar.send_keys("Bangalore")
search=driver.find_element_by_xpath('//button[@class="btn"]')
search.click()

# time gap for the page to load
time.sleep(10)

# scrapping data of first 10 jobs
job_title=[]
location=[]
company=[]
exp=[]
job=driver.find_elements_by_xpath('(//a[@class="title fw500 ellipsis"])[position() < 11]')
loc=driver.find_elements_by_xpath('(//li[@class="fleft grey-text br2 placeHolderLi location"])[position() < 11]')
comp=driver.find_elements_by_xpath('(//a[@class="subTitle ellipsis fleft"])[position() < 11]')
ex=driver.find_elements_by_xpath('(//li[@class="fleft grey-text br2 placeHolderLi experience"])[position() < 11]')

# checking length of scrapped data
# print(len(job),len(loc),len(comp),len(ex))

# getting the texts
job_title = [i.text for i in job]
location = [i.text for i in loc]
company = [i.text for i in comp]
exp = [i.text for i in ex]

# creating the data frame
DA_jobs=pd.DataFrame()
DA_jobs['Job_Title']=job_title
DA_jobs['Location']=location
DA_jobs['Company']=company
DA_jobs['Experience']=exp

# closing the driver
driver.close()

# saving the file in csv format
# DA_jobs.to_csv('DataAnalyst_jobs.csv',index=False,encoding='utf-8')

In [8]:
DA_jobs

,Job_Title,Location,Company,Experience
0,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
1,Business Analyst and Data Analyst,"Delhi NCR, Bengaluru, Hyderabad",Tech Mahindra Ltd.,7-12 Yrs
2,Data Analyst,"Chennai, Delhi NCR, Bengaluru",Hk solutions,0-3 Yrs
3,Intern - DFM Data Analyst,Bengaluru,GLOBALFOUNDRIES Engineering Private Limited,0-5 Yrs
4,Hiring Data Analysts on Contract Third party p...,Bengaluru,Flipkart Internet Private Limited,2-6 Yrs
5,Reliability Data Analyst,Bengaluru,Alstom Transport India Ltd.,3-8 Yrs
6,Senior Data Analyst,Bengaluru,Myntra,2-7 Yrs
7,Data Analyst,Bengaluru,Ladder of changes,0-5 Yrs
8,Data Analyst / Business Analyst,Bengaluru,Altisource,1-6 Yrs
9,Hiring For Data Analyst RE) - Bangalore,Bengaluru(Bellandur),TELEPERFORMANCE GLOBAL SERVICES,2-6 Yrs

## Program 2

In [9]:
# loading driver
driver = webdriver.Chrome('chromedriver.exe')

# loading webpage onto driver
my_page=driver.get('https://www.naukri.com')

# searching for data scientists in Bangalore
searchbar=driver.find_element_by_id("qsb-keyword-sugg")
searchbar.send_keys("Data Scientist")
locationbar=driver.find_element_by_id("qsb-location-sugg")
locationbar.send_keys("Bangalore")
search=driver.find_element_by_xpath('//button[@class="btn"]')
search.click()

# scrolling to load the page
time.sleep(5)
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
time.sleep(5)

# scrapping data of first 10 jobs
job=driver.find_elements_by_xpath('(//a[@class="title fw500 ellipsis"])[position() < 11]')
loc=driver.find_elements_by_xpath('(//li[@class="fleft grey-text br2 placeHolderLi location"])[position() < 11]')
comp=driver.find_elements_by_xpath('(//a[@class="subTitle ellipsis fleft"])[position() < 11]')

# getting the texts
job_title = [i.text for i in job]
location = [i.text for i in loc]
company = [i.text for i in comp]

# saving the links for the full JD
links = [i.get_attribute('href') for i in job]

# checking length of scrapped data
# print(len(job_title), len(location), len(comp), len(links))

# iterating through the links and extracting the JDs
JD=[]
for j in tqdm(links):
    driver.get(j)
    time.sleep(5)
    try:
        JD.append(driver.find_elements_by_xpath('//div[@class="dang-inner-html"]')[0].text.replace('\n', ''))
    except:
        # if JD is from company sponsored pages, scrape the whole page and extract the relevant information
        txt = re.findall(r'Job Description(.*)Content provided by', driver.find_element_by_tag_name('body').text.replace('\n', ''))[0]
        print(f'{j} -- is not a general page. Extracting all text. Scrapped {len(txt)} chars.')
        JD.append(txt)

# creating the data frame
DA_jobs=pd.DataFrame()
DA_jobs['Job_Title']=job_title
DA_jobs['Location']=location
DA_jobs['Company']=company
DA_jobs['JD']=JD
DA_jobs['links']=links

# closing the driver
driver.close()

# saving the file in csv format
# DA_jobs.to_csv('DataAnalyst_jobs.csv',index=False,encoding='utf-8')

<ipython-input-9-5c3b9e76b483>:38: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for j in tqdm(links):

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

https://www.naukri.com/job-listings-senior-data-scientist-groupon-shared-services-pvt-ltd-bengaluru-bangalore-4-to-8-years-231020004338?src=jobsearchDesk&sid=16047454998119301&xp=4&px=1 -- is not a general page. Extracting all text. Scrapped 6405 chars.
https://www.naukri.com/job-listings-sr-data-scientist-netapp-india-private-limited-bengaluru-bangalore-10-to-20-years-241020901056?src=jobsearchDesk&sid=16047454998119301&xp=8&px=1 -- is not a general page. Extracting all text. Scrapped 4681 chars.
https://www.naukri.com/job-listings-ai-resident-data-scientist-shell-india-markets-private-limited-bengaluru-bangalore-3-to-5-years-051120900454?src=jobsearchDesk&sid=16047454998119301&xp=9&px=1 -- is not a general page. Extracting all text. Scrapped 8645 chars.

In [11]:
DA_jobs

,Job_Title,Location,Company,JD,links
0,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,Dear CandidateSchedule a Telephonic Interview ...,https://www.naukri.com/job-listings-immediate-...
1,Senior Data Scientist,Bengaluru,Flipkart,About Data Sciences at Flipkart:The Data Scien...,https://www.naukri.com/job-listings-senior-dat...
2,Data Scientist- Computer Vision & Image Proces...,Bengaluru,24/7 Customer,Experience Required: 0 - 6 Years.We are lookin...,https://www.naukri.com/job-listings-data-scien...
3,Senior Data Scientist,Bengaluru,Groupon Shared Services,Groupons mission is to become the daily habit ...,https://www.naukri.com/job-listings-senior-dat...
4,Sr. Data Scientist,"Chennai, Bengaluru",AVE-Promagne,Sr. Data Scientist (Min 6 yrs in Data Science/...,https://www.naukri.com/job-listings-sr-data-sc...
5,Senior Data Scientist- Bangalore/ Chennai,"Chennai, Bengaluru",RANDSTAD INDIA PVT LTD,Our Exciting OpportunityWe are looking for Dat...,https://www.naukri.com/job-listings-senior-dat...
6,Senior Data Scientist,Bengaluru,ORMAE LLP,Roles and ResponsibilitiesScientist should hav...,https://www.naukri.com/job-listings-senior-dat...
7,Sr. Data Scientist,Bengaluru,NetApp,Job SummaryThis Cloud Business Operations Data...,https://www.naukri.com/job-listings-sr-data-sc...
8,AI Resident - Data Scientist,Bengaluru,Shell India Markets Private Limited,Job Description:The world faces energy challen...,https://www.naukri.com/job-listings-ai-residen...
9,Data scientist,Bengaluru,IBM India Pvt. Limited,Roles and ResponsibilitiesIntroductionAs a Dat...,https://www.naukri.com/job-listings-data-scien...

## Program 3

In [12]:
# loading the driver
driver = webdriver.Chrome('chromedriver.exe')

# loading webpage onto driver
my_page = driver.get('https://www.naukri.com')

# searching for data scientists
searchbar = driver.find_element_by_id("qsb-keyword-sugg")
searchbar.send_keys("Data Scientist")
search = driver.find_element_by_xpath('//button[@class="btn"]')
search.click()

time.sleep(5)
driver.find_element_by_xpath('//*[@id="chk-Delhi/NCR-cityType-"]').find_element_by_xpath('..').click()
time.sleep(5)
driver.find_element_by_xpath('//*[@id="chk-3-6 Lakhs-ctcFilter-"]').find_element_by_xpath('..').click()
time.sleep(5)

# scrapping data of first 10 jobs:
job = driver.find_elements_by_xpath('(//a[@class="title fw500 ellipsis"])[position() < 11]')
loc = driver.find_elements_by_xpath('(//li[@class="fleft grey-text br2 placeHolderLi location"])[position() < 11]')
comp = driver.find_elements_by_xpath('(//a[@class="subTitle ellipsis fleft"])[position() < 11]')
ex = driver.find_elements_by_xpath('(//li[@class="fleft grey-text br2 placeHolderLi experience"])[position() < 11]')

# getting the relevant text
job_title = [i.text for i in job]
location = [i.text for i in loc]
company = [i.text for i in comp]
exp = [i.text for i in ex]

# check the lenght of scrapped texts
# print(len(job_title), len(location), len(comp), len(ex))

# creating the data frame
DA_jobs=pd.DataFrame()
DA_jobs['Job_Title'] = job_title
DA_jobs['Location'] = location
DA_jobs['Company'] = company
DA_jobs['exp'] = exp

# closing the driver
driver.close()

# saving the file in csv format
# DA_jobs.to_csv('DataAnalyst_jobs.csv',index=False,encoding='utf-8')

10 10 10 10

In [13]:
DA_jobs

,Job_Title,Location,Company,exp
0,Only Fresher / Data Scientist / Data Analyst /...,"Delhi NCR, Ghaziabad, Gurgaon",GABA Consultancy services,0-0 Yrs
1,Only Fresher / Data Scientist / Data Analyst /...,"Faridabad, Delhi NCR, Greater Noida",GABA Consultancy services,0-0 Yrs
2,Associate Data Scientist,Noida,WellMed Medical Management,4-8 Yrs
3,Data Scientist,Noida,AlgoScale Technologies Private Limited,1-5 Yrs
4,Data Scientist/Analyst - Machine Learning/Deep...,Delhi,EchoIndia,3-6 Yrs
5,Data Scientist - NLP/ML/Python,Gurgaon Gurugram,Elixir Web Solutions,4-8 Yrs
6,Data Scientist - NLP/ML/Python,Gurgaon Gurugram,Elixir Web Solutions,4-8 Yrs
7,Data Scientist,Delhi,GlobalHunt India Private Limited,3-6 Yrs
8,Data Scientist,Gurgaon,Blue Sky Analytics,1-6 Yrs
9,Data Scientist/BPM/4-8 years,Gurgaon,Crescendo global services,4-7 Yrs

## Program 4

In [77]:
# loading driver
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")
driver = webdriver.Chrome('chromedriver.exe', options=options)

# loading webpage onto driver
my_page=driver.get('https://www.glassdoor.co.in/index.htm')

# sign-in
driver.find_element_by_xpath('//*[@class="locked-home-sign-in"]').click()
time.sleep(5)
driver.find_element_by_xpath('//*[@for="userEmail"]').click()
driver.find_element_by_xpath('//*[@id="userEmail"]').send_keys('ltg18198@eoopy.com')
driver.find_element_by_xpath('//*[@for="userPassword"]').click()
driver.find_element_by_xpath('//*[@id="userPassword"]').send_keys('GW9pBgVvpX9C2Wc')
driver.find_element_by_xpath('//*[@class="gd-ui-button minWidthBtn css-8i7bc2"]').click()
time.sleep(10)

# search for data scientist
driver.execute_script("document.getElementById('sc.keyword').click()")
driver.find_element_by_id('sc.keyword').send_keys(Keys.CONTROL + "a")
driver.find_element_by_id('sc.keyword').send_keys(Keys.DELETE)
driver.find_element_by_id('sc.keyword').send_keys('Data Scientist')

# search for data noida
driver.find_element_by_id('sc.location').send_keys(Keys.CONTROL + "a");
driver.find_element_by_id('sc.location').send_keys(Keys.DELETE)
driver.find_element_by_id('sc.location').send_keys('Noida (India)')

# press enter
driver.find_element_by_xpath('//*[@id="scBar"]/div/button').click()
time.sleep(20)

# get the top 10 listing
company = [i.text for i in driver.find_elements_by_xpath('(//*[@class="jobHeader d-flex justify-content-between align-items-start"])[position() < 11]')]
role = [i.text for i in driver.find_elements_by_xpath('(//*[@class="jobInfoItem jobTitle css-13w0lq6 eigr9kq1 jobLink"])[position() < 11]')]
days = [i.text for i in driver.find_elements_by_xpath('(//*[@class="d-flex align-items-end pl-std css-mi55ob"])[position() < 11]')]
stars = [i.text for i in driver.find_elements_by_xpath('(//*[@class="compactStars "])[position() < 11]')]

#Creating the data frame
DA_jobs = pd.DataFrame()
DA_jobs['Company'] = company
DA_jobs['Role'] = role
DA_jobs['Days Ago'] = days
DA_jobs['Star'] = stars

# closing the driver
driver.close()

# saving the file in csv format
# DA_jobs.to_csv('DataAnalyst_jobs.csv',index=False,encoding='utf-8')

In [78]:
DA_jobs

                                   Company            Role Days Ago Star
0                       Ericsson-Worldwide  Data Scientist       4d    4
1  American Express Global Business Travel  Data Scientist      23d  3.7
2                                      IBM  Data Scientist       1d  3.9
3                           Biz2Credit Inc  Data Scientist      25d  3.7
4                                Algoscale  Data Scientist      16d  3.7
5                          SearchUrCollege  Data Scientist      16d  3.7
6                                 Brickred  Data Scientist       7d    5
7                                 Techlive  Data Scientist      22d  4.8
8                          Healtheoz India  Data Scientist      16d    3
9                                    Jubna  Data Scientist       6d  3.1

## Program 5

In [114]:
# loading driver
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")
driver = webdriver.Chrome('chromedriver.exe', options=options)

# loading webpage onto driver
my_page=driver.get('https://www.glassdoor.co.in/Salaries/index.htm')
time.sleep(5)

# searching for salaries of data sicentists in Noida
driver.find_element_by_id('KeywordSearch').send_keys(Keys.DELETE)
driver.find_element_by_id('KeywordSearch').send_keys('Data Scientist')

driver.find_element_by_id('LocationSearch').send_keys(Keys.CONTROL + "a");
driver.find_element_by_id('LocationSearch').send_keys(Keys.DELETE)
driver.find_element_by_id('LocationSearch').send_keys('Noida')

driver.find_element_by_xpath('//*[@class="gd-btn-mkt"]').click()
time.sleep(10)

# Getting the salary details of the first 10 companies
details = [i.text.split('\n') if len(i.text.split('\n'))==8 
           else i.text.split('\n')[1:] # skipping 'is it helpful' text
           for i in driver.find_elements_by_xpath('(//*[@data-test="salary-list-items"][position() < 11])')]

salaries_df = pd.DataFrame([(i[1], 
                             i[4], 
                             i[-2], 
                             i[-1], 
                             ' '.join(i[3].split()[1:3])) 
                            for i in details], 
                           columns=['Company', 'Average', 'Min', 'Max', '# Salaries'])

# closing the driver
driver.close()

# saving the file in csv format
# salaries_df.to_csv('DataAnalyst_jobs.csv',index=False,encoding='utf-8')

In [115]:
salaries_df

                          Company      Average    Min       Max   # Salaries
0                       Delhivery  ₹ 13,18,563  ₹706K  ₹11,513K  12 salaries
1                       Accenture   ₹ 9,85,497  ₹572K   ₹1,300K  29 salaries
2                             IBM   ₹ 7,53,602  ₹581K   ₹2,704K  59 salaries
3              UnitedHealth Group  ₹ 13,23,634  ₹710K   ₹1,559K  12 salaries
4  Cognizant Technology Solutions   ₹ 9,97,979  ₹785K   ₹1,251K  38 salaries
5              Valiance Solutions   ₹ 7,72,507  ₹497K   ₹1,140K   9 salaries
6              Vidooly Media Tech     ₹ 12,689    ₹8K      ₹20K  10 salaries
7                Analytics Vidhya     ₹ 21,215   ₹14K      ₹22K   7 salaries
8       Tata Consultancy Services   ₹ 6,77,498  ₹480K   ₹1,000K  60 salaries
9              Ericsson-Worldwide   ₹ 7,34,456  ₹460K   ₹1,598K  15 salaries

## Program 6

In [128]:
# loading driver
driver = webdriver.Chrome('chromedriver.exe')

# loading webpage onto driver
my_page = driver.get('https://www.flipkart.com/')

# key in the sunglass as search term and press search
driver.find_element_by_xpath('//*[@class="_2AkmmA _29YdH8"]').click()
driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').send_keys('sunglasses')
driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()
time.sleep(10)

# create empty lists for scraping the details
brand = []
desc = []
price = []
discount = []

# loop to scrape one page after another
while True:
    # get all the webdriver objects for the listed items
    items = driver.find_elements_by_xpath('//*[@class="IIdQZO _1SSAGr"]')
    
    # loop in all the objects and extract the details
    for item in tqdm(items):
        
        # get the brand
        try:
            brand.append(item.find_element_by_class_name('_2B_pmu').text)
        except:
            brand.append('NA')

        # get the description
        try:
            desc.append(item.find_element_by_class_name('_2mylT6').text)
        except:
            desc.append('NA')

        # get the price
        try:
            price.append(item.find_element_by_class_name('_1vC4OE').text)
        except:
            price.append('NA')

        # get the discount
        try:
            discount.append(item.find_element_by_class_name('VGWI6T').text)
        except:
            discount.append('NA')
    
    # if the length of the scrapped items exceeded 100, break
    if(len(brand) >= 100):
        break
    
    # else, go to next page and repeat
    driver.find_element_by_class_name('_3fVaIS').click()
    time.sleep(10)

# creating the data frame
sunglass = pd.DataFrame()
sunglass['Brand'] = brand[:100]
sunglass['desc'] = desc[:100]
sunglass['Price'] = price[:100]
sunglass['Discount'] = discount[:100]

# closing the driver
driver.close()

# saving the file in csv format
# salaries_df.to_csv('DataAnalyst_jobs.csv',index=False,encoding='utf-8')

HBox(children=(FloatProgress(value=0.0, max=40.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=40.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=40.0), HTML(value='')))

In [129]:
sunglass

,Brand,desc,Price,Discount
0,United Colors of Benetton,UV Protection Retro Square Sunglasses (57),"₹1,755",55% off
1,United Colors of Benetton,"Mirrored, UV Protection Aviator Sunglasses (56)","₹1,755",55% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹809,10% off
3,Elligator,UV Protection Round Sunglasses (54),₹312,87% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹206,87% off
...,...,...,...,...
95,United Colors of Benetton,Mirrored Wayfarer Sunglasses (56),"₹4,500",NA
96,winsome,UV Protection Round Sunglasses (54),₹130,73% off
97,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
98,shah collections,UV Protection Round Sunglasses (Free Size),₹312,75% off
99,ROZZETTA CRAFT,"Polarized, Gradient, UV Protection Round Sungl...",₹403,79% off

## Program 7

In [167]:
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")
driver = webdriver.Chrome('chromedriver.exe', options=options)

# loading webpage onto driver
my_page = driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

# show all reviews
driver.find_element_by_class_name('swINJg').click()
time.sleep(10)

# create empty lists for scraping the details
Rating = []
Review_summary = []
Full_review = []
p = 1

# loop to scrape one page after another
while True:
    # get all the webdriver objects for the listed items
    items =  driver.find_elements_by_class_name('_3gijNv')[6:-1]
    
    # loop in all the objects and extract the details
    for item in tqdm(items):
        
        # get the rating
        try:
            Rating.append(item.find_element_by_class_name('hGSR34').text)
        except:
            Rating.append('NA')
        
        # get the review summary
        try:
            Review_summary.append(item.find_element_by_class_name('_2xg6Ul').text)
        except:
            Review_summary.append('NA')

        # get the full review
        try:
            Full_review.append(item.find_element_by_class_name('qwjRop').text)
        except:
            Full_review.append('NA')

    # increase the page number and append it to the url to retrive the next page
    p += 1
    driver.get(driver.current_url + f'&page={p}')
    
    # break out if already 100 reviews are scrapped
    if(len(Rating) >= 100):
        break
    

# creating the data frame
reviews = pd.DataFrame()
reviews['Rating'] = Rating
reviews['Review_summary'] = Review_summary
reviews['Full_review'] = Full_review

reviews = reviews.drop_duplicates().iloc[:100]

# closing the driver
driver.close()

# saving the file in csv format
# reviews.to_csv('DataAnalyst_jobs.csv',index=False,encoding='utf-8')

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

In [168]:
reviews

,Rating,Review_summary,Full_review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,5,Great product,Terrific!!! Lucky to get this phone in first l...
96,3,Nice,Iphone 11 black 64gb is really a cool phone\n\...
97,3,Nice,"Although it’s an iPhone, it doesn’t give anyth..."
98,5,Just wow!,Apple i Phone is the best phone available in t...
99,5,Brilliant,use outside gives a outstanding experience ......

## Program 8

In [172]:
# loading driver
driver = webdriver.Chrome('chromedriver.exe')

# loading webpage onto driver
my_page=driver.get('https://www.flipkart.com/')

# search for sneakers
driver.find_element_by_xpath('//*[@class="_2AkmmA _29YdH8"]').click()
driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').send_keys('sneakers')
driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()
time.sleep(10)

# create empty lists for scraping the details
brand = []
desc = []
price = []
discount = []

# loop to scrape one page after another
while True:
    
    # get all the webdriver objects for the listed items
    items = driver.find_elements_by_xpath('//*[@class="IIdQZO _1SSAGr"]')
    
    # loop in all the objects and extract the details
    for item in tqdm(items):
        
        # get the brand
        try:
            brand.append(item.find_element_by_class_name('_2B_pmu').text)
        except:
            brand.append('NA')

        # get the description
        try:
            desc.append(item.find_element_by_class_name('_2mylT6').text)
        except:
            desc.append('NA')

        # get the price
        try:
            price.append(item.find_element_by_class_name('_1vC4OE').text)
        except:
            price.append('NA')

        # get the discount
        try:
            discount.append(item.find_element_by_class_name('VGWI6T').text)
        except:
            discount.append('NA')
            
    # break out if already 100 reviews are scrapped
    if(len(brand) >= 100):
        break
    driver.find_element_by_class_name('_3fVaIS').click()
    time.sleep(10)

# creating the data frame
sneakers = pd.DataFrame()
sneakers['Brand'] = brand[:100]
sneakers['desc'] = desc[:100]
sneakers['Price'] = price[:100]
sneakers['Discount'] = discount[:100]

# closing the driver
driver.close()

# saving the file in csv format
# sneakers.to_csv('DataAnalyst_jobs.csv',index=False,encoding='utf-8')

HBox(children=(FloatProgress(value=0.0, max=40.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=40.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=40.0), HTML(value='')))

In [173]:
sneakers

,Brand,desc,Price,Discount
0,Ducati,Sneakers For Men,"₹1,999",45% off
1,Ducati,Sneakers For Men,"₹1,999",45% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹461,76% off
3,Chevit,Chevit Latest Fashion Combo Pack of 2 Pairs Ca...,₹525,64% off
4,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹236,52% off
...,...,...,...,...
95,WROGN,Sneakers For Men,"₹1,679",40% off
96,BRUTON,Combo Pack of 5 Casual Sneakers With Sneakers ...,₹699,82% off
97,Chevit,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,₹360,63% off
98,Rockfield,Sneakers For Men,₹499,50% off
99,Provogue,Sneakers For Men,₹549,57% off

## Program 9

In [ ]:
# loading driver
driver = webdriver.Chrome('chromedriver.exe')

# loading webpage onto driver
my_page=driver.get('https://www.myntra.com/shoes')

# setting in the filters for price range and color
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label').click()
time.sleep(5)
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label').click()
time.sleep(5)

# create empty lists for scraping the details 
brand = []
desc = []
price = []

# loop to scrape one page after another
while True:
    
    # get all the webdriver objects for the listed items
    items = driver.find_elements_by_class_name('product-base')
    
    # loop in all the objects and extract the details
    for item in tqdm(items):
        
        # get the brand
        try:
            brand.append(item.find_element_by_class_name('product-brand').text)
        except:
            brand.append('NA')

        # get the desc
        try:
            desc.append(item.find_element_by_class_name('product-product').text)
        except:
            desc.append('NA')
            
        # get the discounted price
        try:
            price.append(item.find_element_by_class_name('product-discountedPrice').text)
        except:
            # if discounted price does not exist, get the base price
            try:
                price.append(item.find_element_by_class_name('product-price').text)
            except:
                price.append('NA')
             
    # break out if already 100 reviews are scrapped
    if(len(brand) >= 100):
        break
    
    # go to the next page
    driver.find_element_by_class_name('pagination-next').click()
    time.sleep(10)

# creating the data frame
shoes = pd.DataFrame()
shoes['Brand'] = brand[:100]
shoes['desc'] = desc[:100]
shoes['Price'] = price[:100]

# closing the driver
driver.close()

# saving the file in csv format
# shoes.to_csv('DataAnalyst_jobs.csv',index=False,encoding='utf-8')

In [174]:
shoes

HBox(children=(FloatProgress(value=0.0, max=50.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=50.0), HTML(value='')))

               Brand                            desc      Price
0             ADIDAS       Men Questar Flow Sneakers   Rs. 6999
1               Nike          Men Zoom Running Shoes   Rs. 7995
2               Nike              Men Training Shoes   Rs. 6795
3               ALDO    Men Textured Leather Loafers  Rs. 12999
4   ADIDAS Originals     Men Solid AR Training Shoes   Rs. 7199
..               ...                             ...        ...
95            ADIDAS  Women Edge Lux 4 Running Shoes   Rs. 7199
96              Geox       Men Leather Formal Derbys  Rs. 12990
97            Clarks      Men Leather Formal Loafers   Rs. 6999
98              Puma             Women Running Shoes   Rs. 9499
99    Tommy Hilfiger              Women Heeled Boots   Rs. 7999

[100 rows x 3 columns]

## Program 10

In [177]:
# loading driver
driver = webdriver.Chrome('chromedriver.exe')

#loading webpage onto driver
my_page=driver.get('https://www.amazon.in')

# key in the laptop for searching
driver.find_element_by_class_name('nav-input').send_keys('laptop')
driver.find_element_by_class_name('nav-search-submit-text').click()
time.sleep(5)

# set the filters for i7 and i9 processors
driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span').click()
time.sleep(5)
driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/span').click()
time.sleep(5)

# create empty lists for scraping the details 
title = []
rating = []
price = []

# get all the webdriver objects for the listed items
items = driver.find_elements_by_xpath('(//*[contains(@class, "sg-col-20-of-24 s-result-item s-asin sg-col-0-of-12 sg-col-28-of-32 sg-col-16-of-20")])[position() < 11]')

# loop in all the objects and extract the details
for item in tqdm(items):
    
    # get the title
    try:
        title.append(item.find_element_by_xpath('.//span[@class="a-size-medium a-color-base a-text-normal"]').text)
    except:
        title.append('NA')

    # get the rating
    try:
        rating.append(item.find_element_by_xpath('.//span[@class="a-size-base"]').text)
    except:
        rating.append('NA')
        
    # get the price
    try:
        price.append(item.find_element_by_xpath('.//span[@class="a-price"]').text)
    except:
        price.append('NA')
         
# creating the data frame
laptops = pd.DataFrame()
laptops['title'] = title[:100]
laptops['rating'] = rating[:100]
laptops['Price'] = price[:100]
laptops['Price'] = laptops.Price.str.replace('\n', '.')

# closing the driver
driver.close()

# saving the file in csv format
# laptops.to_csv('DataAnalyst_jobs.csv',index=False,encoding='utf-8')

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

In [178]:
laptops

                                               title rating      Price
0  Dell Alienware m15(R3) 15.6-inch FHD Gaming La...     10  ₹1,99,990
1  Dell G3 3500 Gaming 15.6-inch FHD Laptop (10th...      7    ₹85,590
2  Dell Alienware m15(R3) 15.6-inch FHD Gaming La...     10  ₹1,99,990
3  (Renewed) ASUS ZenBook Duo Intel Core i7-10510...     NA  ₹1,05,739
4  (Renewed) Lenovo Yoga S740 Intel Core i7 10th ...     NA    ₹93,492
5  (Renewed) Dell Inspiron 5501 15.6 Inch FHD Lap...     NA    ₹73,092
6  HP Pavilion x360 Core i7 8th Gen 14-inch Touch...    170    ₹82,789
7  (Renewed) Dell Latitude E7240 12.5-inch Laptop...     12    ₹39,999
8  (Renewed) HP Omen 10th Gen Intel Core i7 Proce...     NA    ₹97,742
9  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...     22  ₹1,29,990